/* stijl.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(221, 211, 199);
    color: rgb(64, 64, 64);
}

header {
    text-align: center;
    margin: 0;
    padding: 50px 0;
    background-color: #ffc107; /* Geel achtergrondkleur */
    background-image: url(header.jpg);
}

header h1 {
    color: #fff; /* Witte tekstkleur */
}

nav {
 background: linear-gradient(to right, rgba(224, 224, 224, 1), rgba(224, 224, 224, 0)); /* Gradient van rechts (donkerder) naar links (doorzichtig) */
    overflow: hidden;
    flex: 1; /* Neem de resterende breedte in beslag */}

section img {
    width: 100%;
}

nav a {
    float: right;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    margin-top: 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ff9800; /* Oranje achtergrond bij hover */
    color: #fff; /* Witte tekstkleur bij hover */
}

section {
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
    background-color: #edc; /* transparante achtergrond voor de inhoud */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Licht schaduweffect */
    margin-bottom: 25px;
}

blockquote {
    font-style: italic;
    margin: 20px 0;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #ff9800; /* Oranje achtergrond voor de knop */
    background-image: linear-gradient(#d45c2a,#d45c2a);
    color: #fff; /* Witte tekstkleur voor de knop */
    border-radius: 5px;
    transition: background-color 0.3s;
}
.cta-button:hover {
    background-color: #ff9800; /* Oranje achtergrond bij hover */
    color: #fff; /* Witte tekstkleur bij hover */
}


.cta-button:hover {
    background-color: #f57c00; /* Donkerder oranje achtergrond bij hover */
}
